/.idea/.gitignore
/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/.idea/robo-pipe.iml
/.idea/vcs.xml
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-161a7a644d45ec3f826d.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-3141603a6200bd6240e8.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-ff0f9497fced43a780ba.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-04-02T11-14-24-0552.json
/cmake-build-debug/.cmake/api/v1/reply/target-roboPipe-Debug-51d9f193e48f47db53ac.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-2be61ab56229b68d2a29.json
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/a.out
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/roboPipe.dir/robo_main.cpp.o
/cmake-build-debug/CMakeFiles/roboPipe.dir/RoboWidget.cpp.o
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/images/Widget_test/Main.png
/cmake-build-debug/images/Widget_test/Rob3D.png
/cmake-build-debug/images/Widget_test/RobBack.png
/cmake-build-debug/images/Widget_test/RobotCircle.png
/cmake-build-debug/images/Widget_test/Wheel_big.png
/cmake-build-debug/images/Widget_test/widget1.png
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/roboPipe
